@media (max-width:900px){
img{
    width: 300px;
    height: 200px;
}
h2{
    font-size: 20px;
    width: 300px;
}
.frase{
display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;

}
#resultado{
    font-size: 20px;
}
    #fimJogoImg{
        width: 80%;
        height: 500px;
       
    }

}